<p>&nbsp;&nbsp;&nbsp; 日常生活中，影响室内空气品质的因素有很多，除了因为装修原因而影响的室内空气质量检测情况还可以分为以下几类：室外空气对室内空气品质的影响、生活用水对室内空气品质的影响、土壤及房基地对室内空气品质的影响、邻里干扰、人为携带入室等影响，以下一一对这些影响进行具体的说明。&nbsp;&nbsp; &nbsp;<br>
&nbsp;&nbsp;&nbsp; 室外空气对室内空气品质的影响也是非常严重的，室外空气中存在着许多污染物，主要的污染物有二氧化硫、氮氧化物、烟雾和硫化氢等。室外空气可以通过门窗、孔隙或管道缝隙等途径进入室内。这些污染物主要来源于工业生产、汽车尾气以及建筑周围的各种小锅炉、垃圾堆等多种污染源。
</p>
&nbsp;&nbsp;&nbsp; 生活用水对室内空气品质也是存在这不可忽视的影响，人们除了做饭、饮水以外，生活中友很多地方都需要水，例如清扫房间、淋浴、浇花、空气加湿、室内喷泉等。在使用生活用水时，极易形成水雾，而这些水雾的粒径一般都很小，很容易直接进入人的上呼吸道。如果这些生活用水受到污染，则其小携带的污染物如细茵或化学物质等就可以直接随着水雾进入室内，对室内空气环境造成污染。<br>
&nbsp;&nbsp;&nbsp; 土壤和房基地的有害因素，主要有两大来源。一个来源是污染，如果土壤和房基地以前曾被使用过，受到了工业废弃物、农药或其他生活废弃物的污染，则它们就会不断的产生有害气体，而这些有害气体可以通过缝隙进入至内。另一个来源是由当地地质理化性状所确定的。有些地区的地质在地球演变过程中，某些元素分布过高，这类地区就称为该类元素的高本底地区。在以后的演变过程中，这些元素就可能会形成气念，从地缝中扩散到室内空气中去。<br>
&nbsp;&nbsp;&nbsp; 现代城市中，邻里之间的距离一般都很近，因此，互相的干扰经常发生。由于有些楼房的厨房排烟管道设计不合理，烟道的抽力不够，有时其至还会将油烟倒灌入室内，因此，许多住户干脆将抽油烟机的排烟管直接通往走廊，将油烟直接排入楼道内。有的楼房设有内走廊。油烟就会沿着内走廊扩散，进入到邻居家中，对邻居家的空内空气品质造成破坏。

&nbsp;&nbsp;&nbsp; 人们经常出入居室，很容易将室外的污染物随身带入室内。最常见的是将工作服带入家中，使工作场所的污染物人为地转移到家小。例如铅、钹、苯、石棉等都可以通过这个途径污染室内环境。<br>
<br>

<p></p>