<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 住宅与人类的生活息息相关，但看似干净整洁的家居环境，却有可能藏着要命的隐患。在追求时尚新潮的同时，也应注意家居环境影响健康保健的问题。<br>
1、装修“太过”影响室内空气质量<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 装修得太复杂，装修材料选择廉价，会影响到室内空气质量好坏，如甲醛、TVOC等的超标，影响人们身体健康，特别是孕妇、小孩、老人身体抵抗力较弱的人群。所以说在装修完之后，成都中环博环境检测机构，建议广大消费者邀请第三方权威室内空气检测机构，检测一下甲醛、TVOC等有害物质的含量，如果数据达标再入住也不迟。<br>
2、选对窗帘睡个好觉<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 植绒面料的窗帘较为厚重，吸音、遮光效果好选用红、黑配合的窗帘，有助于尽快入眠。的同时，也要注意家具环境影响健康保健问题。<br>
3、把阳台当厨房，危险<br>
　&nbsp;&nbsp; 把灶具放到阳台，冬季容易冻裂管线，引发安全事故春夏多风季节，容易把火吹灭，造成燃气泄漏。<br>
4、卫生间太潮易得病<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 潮湿的卫生间容易使真菌滋生、繁殖，诱发呼吸道疾病。所以，湿墩布应晾干后再放入卫生间保持下水道的畅通勤开排气扇。<br>
5、别用清新剂 健康除异味<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 下水道口洒点山药水，花盆中掺一些鲜橘皮，壁橱、抽屉内放一包晒干的茶叶渣，炒菜锅中放少许食醋，加热蒸发，都能去除异味。<br>
6、屋里花朵眼睛累<br>
　&nbsp;&nbsp; 室内摆放植物要少而精。太多会破坏环境的整体感，不仅难以起到调节心情的作用，还会造成视觉疲劳。<br>
7、淋浴房，全钢化玻璃最安全<br>
&nbsp;&nbsp;&nbsp;&nbsp; 使用半钢化玻璃或热弯玻璃，在冬天用热水或是夏天用冷水时，有可能爆裂，钢化玻璃的安全性则较高。本文导读：看似干净整洁的家居环境，却有可能藏着要命的隐患。在追求时尚新潮的同时，也应注意家居环境影响健康保健的问题。<br>
8、家用瓷砖，太亮伤眼<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 白色、金属色瓷砖反光较强，可能导致近视和白内障，不适合大面积使用。装修时，最好选择亚光砖。<br>
成都权威室内空气污染检测机构推荐成都中环博环境检测：</p>