<div class="pageHeader">
  <div class="headerLeft" hm-tap="direct('main')"><</div>
  <div class="headerCenter">关于中环博</div>
  <div class="headerRight"></div>
</div>
<div class="noheader-content-container">
<div ng-swipe-right="direct('main')" class="about">
  <br>
<p>
<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 四川省中环博环境检测有限责任公司前身为成都市环境监测中心站室内环境检测实验室。&nbsp; <br>
      <br>
      
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 现我公司已具备四川省质量技术监督局核发的“CMA计量认证”资质和中华人民共和国住房和城乡建设部核发的“建设工程质量检测机构”资质。可承接针对建筑开工前的土壤氡检测和竣工验收空气检测，以及针对个人家庭和办公场所的装修污染检测、甲醛检测、TVOC检测、氡检测等与室内空气和环境相关的各类检测项目。<br>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 我公司实验室配备高级工程师4名，中级工程师3名，另外聘四川大学化学系知名教授担任技术负责人；实验区面积目前为300多平米，其中可实现恒温控制区域有120平米，各种检测设备总价值约150万；2015年，我公司还将逐步扩大实验室面积至1000平米左右，并将申报与室内空气、环境、电磁辐射、废水废气相关的多项检测资质。
</p>  
<p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 四川省中环博环境检测有限责任公司在市环境监测中心站雄厚的技术实力和设备保障下，具备甲醛相关项目的检测能力，我们将本着公正、科学、准确、优质的质量方针为所有客户提供服务。
    </p>

    <p>
      中环博400室内环境检测专线：4008-635－356
    </p>
    <p>
      渠道合作：1821-5555-543
    </p>
    <p>
      渠道合作：37108180@qq.com
    </p>
    <p>
      中环博400室内环境检测专线：4008-635－356
    </p>
    <br>
    <br>
    <br>
    <br>
    <p style="text-align:center">
      四川省中环博环境检测有限责任公司 版权所有
    </p>
    <p style="text-align:center">
      Copyrit @2015-2016 中环博. All Rights Reserved
    </p>
</div>
</div>