<div class="section">
<img style="float:left" src="./images/icon/back.png" hm-tap="directInside('pollution-detect-nav')">
装修污染空气检测
</div>
<div style="height:100%">
<div ng-swipe-right="directInside('pollution-detect-nav')" class="right-main">
  <div class="title" style="margin-top:15px; "><h2>装修污染空气检测</h2></div>   <br>

     <div class="content"><p></p><p>
	&nbsp; &nbsp; &nbsp; &nbsp; 室内装修(家庭、办公室)产生的污染物有很多种，对人体危害较大的同时国家强制要求检测的污染物有五种，分别为甲醛、苯、TVOC、氨和氡，这些污染物对健康的影响比较大，对抵抗力较弱的人群如儿童、妇女、老人，危害非常大。<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp;<strong> 甲醛：</strong>世界卫生组织认定的致癌物，甲醛是一种无色但有强烈刺激性气味的有毒气体，主要存在于人造板材、胶粘剂、油漆涂料、墙纸等装修材料中，释放周期3-15年;甲醛对人的眼睛及呼吸道黏膜有刺激性，会造成人体免疫功能异常、肝损伤、肺损伤、影响神经中枢系统，容易导致孕妇流产和胎儿畸形。<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; <strong>苯：</strong>一种具有芳香气味的气体，主要来源于胶粘剂、油漆涂料、墙纸等装修材料，属于强烈致癌物。短时间内吸收高浓度的苯，会出现中枢神经系统麻醉的症状，轻者头晕、头痛、恶心、乏力、意识模糊，重者会出现昏迷以致呼吸循环衰竭而死亡。长期吸入会导致再生障碍性贫血，严重者会发展成为白血病。<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp;<strong> TVOC：</strong>是室内所有可挥发性有机物的总称，存在于各种人造板材、油漆涂料、胶粘剂、墙纸、地毯、窗帘等装修装饰材料中。TVOC能引起机体免疫水平失调，影响中枢神经系统功能。长时间处于TVOC超标的室内环境会使人出现头晕、头痛、嗜睡、无力、胸闷等症状，还可能影响消化系统，出现食欲不振、恶心等症状，严重可损伤肝脏和造血系统。<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; <strong>氡：</strong>放射性惰性气体，无色无味，能溶于水和脂肪，释放期长达几十年，主要存在于天然石材和瓷砖中。氡是世界卫生组织认定的强烈致癌物，是除吸烟以外第二大导致肺癌的因素，氡的危害大且不可逆，氡可致癌、致畸、致突变。<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp;<strong> 氨：</strong>无色、具有强烈臭味的刺激性气味，主要存在于防冻液、膨胀剂、胶粘剂、人体代谢物中。氨易附着在皮肤黏膜和眼结膜上，从而产生刺激和炎症，减弱人体对疾病的抵抗力，氨可引起流泪、咽痛、呼吸困难及头晕、头痛、呕吐、乏力等症状，严重时可发生肺水肿。<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 另外，甲苯和二甲苯对人体的伤害日渐严重，当我们进行装修污染检测时，不要漏掉。<br>
	<br>
	<span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp; <strong>室内装修污染检测参考标准：</strong></span><br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 《民用建筑工程室内环境污染控制规范》 GB50325-2010(2013版)<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 《室内空气质量标准》 GB/T18883-2002<br>
	<br>
	<span style="font-size:14px;">出具有法律效应的<strong><span style="font-size:16px;"><span style="color: rgb(255, 0, 0);">CMA</span>计量认证检测报告</span></strong>，需要检测请致电：<span style="font-size:16px;"><strong>4008-635-356</strong></span>；&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
	<br>
	<br>
	&nbsp;</p>
<p></p></div>

</div>
</div>