<div class="section">
<img style="float:left" src="./images/icon/back.png" hm-tap="directInside('pollution-detect-nav')">
办公室甲醛检测
</div>
<div style="height:100%">
<div ng-swipe-right="directInside('pollution-detect-nav')" class="right-main">
  <div class="title" style="margin-top:15px; "><h2>办公室甲醛检测</h2></div>   <br>

     <div class="content"><p></p><p>
	&nbsp; &nbsp; &nbsp; &nbsp; 办公室和写字楼的空气质量问题日渐被关注，已经成为上班族重点考虑的就业因素。办公室的空气质量存在的主要问题是甲醛污染，由于中央空调系统新风量不足，而大多数写字楼又以封闭空间为主，再加上装修污染的影响使办公室中的空气污染严重，长期工作和生活在这种环境下的人们会出现各种不适感，很多人都出现头痛、流泪、眼睛红肿、胸闷、易疲劳、烦躁、皮肤过敏等症状，世界卫生组织将此种现象称为“写字楼综合症”。<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 办公室的空气污染源较多，包括建筑装饰装修材料中含有的有毒有害气体、空气清新剂等诸多化学制剂散发出来的化学污染物、香烟烟雾、人体呼出的二氧化碳以及携带的微尘、微生物、细菌等。特别是随着办公室装修的日益豪华，多种建筑装饰材料盲目使用，使之成为最大的污染源，而甲醛污染则是装修的最主要污染物。<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 要想清除办公室甲醛污染，最有效的方式是通风换气，但是在依赖空调系统的密闭空间，首先应采取措施控制污染源，减少甲醛的散发，若还存在甲醛污染，再考虑使用何种方法来清除<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; <strong>办公室/写字楼甲醛检测参考标准：</strong><br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 《民用建筑工程室内环境污染控制规范》 GB50325-2010(2013版)<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 《室内空气质量标准》 GB/T18883-2002</p>
<p></p></div>
  

</div>
</div>