<div class="pageHeader">
	<div class="headerLeft" hm-tap="directInside('product-details')"><</div>
	<div class="headerCenter">氡浓度检测</div>
	<div class="headerRight"></div>
</div>
<div ng-swipe-right="directInside('pollution-detect-nav')"  class="noheader-content-container" style="font-size:0.7em">
  <div class="title" style="margin-top:15px; "><h2>室内氡浓度检测</h2></div>   <br>

     <div class="content"><p></p><p>
	&nbsp; &nbsp; &nbsp; &nbsp; 放射性元素铀衰变产生镭，镭继续衰变产生氡气。氡气是一种放射性惰性气体，无色无味，但危害却很大。<br>
	<br>
	&nbsp; &nbsp; &nbsp; <strong>&nbsp; 氡气的危害：</strong><br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 氡是世界卫生组织(WHO) 公布的19 种主要致癌物质之一，是仅次于香烟引起人类肺癌的第二大元凶。氡可致癌、致突变、致畸形。<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; <strong>氡气的来源：</strong><br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 1 、 从建材中析出的氡;<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 2 、 从房基土壤中析出的氡;<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 3 、 由于通风从户外空气中进入室内的氡;<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 4、 从供水及用于取暖和厨房设备的天然气中释放出的氡<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp;<strong> 室内氡浓度检测参考标准：</strong><br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 《民用建筑工程室内环境污染控制规范》 GB50325-2010(2013版)<br>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 《室内空气质量标准》 GB/T18883-2002<br>
	&nbsp;</p><p></p></div>
  

</div>