<div class="pageHeader">
	<div class="headerLeft" hm-tap="directInside('product-details')"><</div>
	<div class="headerCenter">苯检测</div>
	<div class="headerRight"></div>
</div>
	<div ng-swipe-right="directInside('pollution-detect-nav')"  class="noheader-content-container" style="font-size:0.7em">
  <div class="title" style="margin-top:15px; "><h2>室内苯检测</h2></div>   <br>

     <div class="content"><p>&nbsp; &nbsp; &nbsp; &nbsp; 苯是一种无色、具有特殊芳香气味的液体，能与醇、醚、丙酮和四氯化碳互溶，微溶于水。苯具有易挥发、易燃的特点，其蒸气有爆炸性。苯可燃，毒性较高，是一种致癌物质。<br>
<strong>&nbsp; &nbsp; &nbsp; &nbsp;<br>
&nbsp; &nbsp; &nbsp; &nbsp; 苯的危害：</strong><br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; 1、长期吸入苯可导致再生障碍性贫血。长期吸入苯会出现白细胞和血小板减少，严重时可使骨髓造血机能发生障碍，导致再生障碍性贫血。若造血功能完全被破坏，可发生致命的颗粒性白细胞消失症，并可引起白血病。<br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; 2、女性长期吸入苯会患许多疾病。育龄妇女长期吸入苯会导致月经异常，主要表现为月经过多或紊乱。孕妇接触甲苯、二甲苯及苯系混合物时，妊娠高血压综合症、妊娠呕吐及妊娠贫血等妊娠并发症的发病率显著增高，甚至会导致流产。<br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; 3、苯可导致胎儿先天性缺陷。在整个妊娠期间吸入大量甲苯的妇女，所生的婴儿出现小头畸形、中枢神经系统功能障碍及生长发育迟缓等缺陷的较多;甲苯还可通过胎盘进入胎儿体内，导致出生婴儿体重下降，骨化延迟等情况。<br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; 4、苯会对皮肤和上呼吸道造成损伤。经常接触苯，皮肤可因脱脂而变得干燥而脱屑，有的出现过敏性湿疹。喉头水肿、支气管炎及血小板下降等病症也与苯污染超标有关。<br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; <strong>苯的来源：</strong><br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; 1、建筑材料的有机溶剂，如油漆的添加剂和稀释剂、防水材料添加剂;<br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; 2、装饰材料、人造板家具、粘合剂的溶液。<br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; <strong>室内TVOC检测参考标准：</strong><br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; 《民用建筑工程室内环境污染控制规范》 GB50325-2010(2013版)<br>
</p><p>
	<br>
	&nbsp; &nbsp; &nbsp; &nbsp; 《室内空气质量标准》 GB/T18883-2002</p>
<p></p></div>

</div>