
        <ul>
           <li>
              <div class="menu-home nav-tab" ng-class="{'menu-home-selected':isTabSelected('main')}" ng-click="direct('main')">
                  <span>首       页</span>
              </div>
           </li>
           <li>
              <div class="menu-pollution-detect nav-tab" ng-class="{'menu-pollution-detect-selected':isTabSelected('product-list')}" ng-click="direct('product-list')">
                  <span>检 测 项 目</span>
              </div>
           </li>
           <li>
              <div class="menu-env-health nav-tab" ng-class="{'menu-env-health-selected':isTabSelected('about-company')}" ng-click="direct('about-company')">
                  <span>中环博</span>
              </div>
           </li>
           <li>
              <div class="menu-my-service nav-tab"  ng-class="{'menu-my-service-selected':isTabSelected('my-service-nav')}" ng-click="direct('my-service-nav')">
                <span>用户中心</span>
              </div>
           </li>
        </ul> 
