<p><span style="font-size:14px;">&nbsp;&nbsp;&nbsp; "品牌地板被检出甲醛超标"、"甲醛超标业主怒砸新房"、"高温下家具甲醛肆无忌惮"、"装修产生甲醛导致白血病"……关于装修建材产品甲醛超标问题的新闻层出不穷，而且甲醛对于人体的危害也日益受到大家的关注。鉴于寻找相关检测机构，所花费的时间和成本较高问题，很多消费者会选择购买价格便宜的"甲醛自测盒"自行检测，以求快速得到答案。<br>
<br>
究竟，这些甲醛自测盒靠谱吗？<br>
<br>
甲醛自测盒检测原理成立，结果只能作为参考</span><br>
<br>
</p>
<br>
<span style="font-size:14px;">&nbsp;&nbsp;&nbsp; 甲醛自测盒是一种通过颜色反应来体现甲醛含量的自我测试产品，主要对生活环境可能受到的甲醛进行快速半定量检测，可对甲醛污染程度进行判定。自测盒类似于ph试纸，检测原理等同于化学反应，大家可以通过颜色的对比来得到一个甲醛的分数，如果测试的液体呈现蓝色就是超标的迹象，颜色越深甲醛含量越浓。<br>
<br>
&nbsp;&nbsp;&nbsp; 但甲醛自测盒要注意在特定环境条件下使用，其中一项环境条件不满足，检测结果就会有偏差。另外，市面上的甲醛自测产品良莠不齐，我们在网上看到自测盒的售价在几元到几十元不等。因此，甲醛自测盒的检测结果只能作为参考，不作为法定检测依据。<br>
<br>
<br>
<p></p>